{% extends 'base.html' %}

{% block title %}
  {{ title }}
{% endblock %}

{% block header %}
<script src="https://unpkg.com/htmx.org@1.7.0"></script>
{% endblock %}

{% block content %}
<h1 class="block-effect" style="--td: 0.5s">
  <div class="block-reveal" style="--bc: linear-gradient(to right, rgb(4,170,109,0.5), rgb(4,170,109,1)); --d: .1s">Decrypt your PDF!</div>
</h1>
<p>Remove PDF password security, giving you the freedom to use your PDFs as you want.</p>
<form method=post enctype=multipart/form-data> 
  <div class="radius">
    <div class="container">
      <h3>Step 1: Choose a File</h3>
      <input type="file" name="file" required>
      <h3>Step 2: Provide the password you used to encrypt this file</h3>
      <input type="password" name="Password" required>
      <button> <span>Decrypt!</span></button>
      <p id="output_api"></p>
    </div>
  </div>
</form>
<p></p>
<div style="display: flex; justify-content: space-evenly;">
  <div>Server Network (Upload): <p id="network_sent"></p></div>
  <div>Server Network (Download): <p id="network_received"></p></div>
</div>
<p id="poller" hidden hx-get="/network-sent" hx-target="#network_sent" hx-trigger="every 1s">Chuck Joke</p>
<p id="poller" hidden hx-get="/network-received" hx-target="#network_received" hx-trigger="every 1s">Chuck Joke</p>
<p id="poller" hidden hx-get="/getprogress/{{ title }}/{{ thread_id }}" hx-target="#output_api" hx-trigger="every 1s">Chuck Joke</p>



{% endblock %}