{% extends 'base.html' %}

{% block title %}
  {{ title }}
{% endblock %}

{% block header %}
<script src="https://unpkg.com/htmx.org@1.7.0"></script>
{% endblock %}

{% block content %}
  {% with messages = get_flashed_messages() %}
   {% if messages %}
      {% for message in messages %}
         {{ message }}
      {% endfor %}
   {% endif %}
{% endwith %}
<h1>Decrypt your file!</h1>
<p>Your session ID: {{ thread_id }}</p>
<form method=post enctype=multipart/form-data> 
  <div class="container">
    <h3>Step 1: Choose a File</h3>
    <input type="file" name="file" required>
    <h3>Step 2: Provide the password you used to encrypt this file</h3>
    <input type="password" name="Password" required>
    <input class="mybutton" type=submit value=Decrypt! hx-indicator="#poller">
    <p id="output_api"></p>
  </div>
</form>
  
<p id="poller" hidden hx-get="/getprogress/{{ title }}/{{ thread_id }}" hx-target="#output_api" hx-trigger="every 1s">Chuck Joke</p>



{% endblock %}