{% extends 'base.html' %}

{% block title %}
  {{ title }}
{% endblock %}

{% block header %}
<script src="https://unpkg.com/htmx.org@1.7.0"></script>
{% endblock %}

{% block content %}
<div class="container-borderless">
  <h1>Statistics</h1>
  <div class="flex-container">
    <div class="card">
      <div class="col">
        <h2 style="color:#04AA6D">Merge</h2>
        <h1 id="output_api_merge"> Getting stats... </h1>
      </div>
    </div>
    <div class="card">
      <div class="col">
        <h2 style="color:#04AA6D">Encrypt</h2>
        <h1 id="output_api_encrypt"> Getting stats... </h1>
      </div>
    </div>
    <div class="card">
      <div class="col">
        <h2 style="color:#04AA6D">Decrypt</h2>
        <h1 id="output_api_decrypt"> Getting stats... </h1>
      </div>
    </div>
  </div>
</div>

<p id="poller_merge" hidden hx-get="/getstats_merge" hx-target="#output_api_merge" hx-trigger="every 1s">Chuck Joke</p>
<p id="poller_encrypt" hidden hx-get="/getstats_encrypt" hx-target="#output_api_encrypt" hx-trigger="every 1s">Chuck Joke</p>
<p id="poller_decrypt" hidden hx-get="/getstats_decrypt" hx-target="#output_api_decrypt" hx-trigger="every 1s">Chuck Joke</p>

{% endblock %}
