body{
  height: 50vh;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  border-radius: 20px
}

.navbar li {
  float: left;
}

.navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  height: 30px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.navbar li a:hover {
  background-color: #04AA6D;
  animation: spring 300ms ease-out;
  border-radius: 20px;
}

@keyframes spring {
  15% {
    -webkit-transform-origin: center center;
    -webkit-transform: scale(1.2, 1.1);
  }
  40% {
    -webkit-transform-origin: center center;
    -webkit-transform: scale(0.95, 0.95);
  }
  75% {
    -webkit-transform-origin: center center;
    -webkit-transform: scale(1.05, 1);
  }
  100% {
    -webkit-transform-origin: center center;
    -webkit-transform: scale(1, 1);
  }
}

.navbar {
    font-family: 'Ubuntu', sans-serif;
    font-size: 16pt;
}

.logo{
  display: flex;
  color: white;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-right: 30px;
  border-radius: 20px 60px 20px 20px;
  background-color: #04AA6D
}

.logo:hover{
  background-color: #04AA6D
}

.page {
  /* border: 5px solid; */
  padding: 40px 10px 10px 10px;
  margin: auto;
  width: 80%;
  height: 80vh;
  font-family: 'Ubuntu', sans-serif;
  font-size: 12pt;
}

.radius {
  border-radius: 10px;
  overflow: hidden;
}


.container {
  position: relative;
  display: flex;
  gap: 10px;
  min-height: 40vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  border: 9px solid #555;
  border-image: linear-gradient(#04AA6D, #555, #333) 1;
}

.container-borderless {
  position: relative;
  display: flex;
  padding: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


input[type=file] {
  width: 350px;
  max-width: 100%;
  color: #444;
  padding: 5px;
  background: #fff;
  border-radius: 10px;
  border: 1px solid #555;
  font-family: 'Ubuntu', sans-serif;
}

input[type=file]::file-selector-button {
  margin-right: 20px;
  border: none;
  background: #04AA6D;
  padding: 10px 20px;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  transition: background .2s ease-in-out;
  font-family: 'Ubuntu', sans-serif;
}

input[type=file]::file-selector-button:hover {
  background: #015938;
}

.mybutton {
  margin-right: 20px;
  border: none;
  background: #04AA6D;
  padding: 10px 20px;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  transition: background .2s ease-in-out;
  font-family: 'Ubuntu', sans-serif;
}


.mybutton:hover {
  background: #015938;
}

.my-div {
  background-color: black
}


.block-reveal {
  --t: calc(var(--td) + var(--d));

  color: transparent;
  padding: 4px;
  position: relative;
  border-radius: 0px 20px 20px 0px;
  overflow: hidden;
  animation: revealBlock 0s var(--t) forwards;
}

.block-reveal::after {
  content: '';
  width: 0%;
  height: 100%;
  padding-bottom: 4px;
  border-radius: 0px 20px 20px 0px;
  position: absolute;
  top: 0;
  left: 0;
  background: var(--bc);
  animation: revealingIn var(--td) var(--d) forwards, revealingOut var(--td) var(--t) forwards;
}


/* animations */
@keyframes revealBlock {
  100% {
    color: #0f0f0f;
  }
}

@keyframes revealingIn {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes revealingOut {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}


.footer {
  position: relative;
  width: 100%;
  min-height: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


button {
  outline: none;
  cursor: pointer;
  border: none;
  padding: 0.9rem 2rem;
  margin-top: 10px;
  font-family: inherit;
  font-size: inherit;
  position: relative;
  display: inline-block;
  letter-spacing: 0.05rem;
  font-weight: 700;
  font-size: 14px;
  border-radius: 500px;
  overflow: hidden;
  background: #04AA6D;
  color: ghostwhite;
 }
 
 button span {
  position: relative;
  z-index: 10;
  transition: color 0.4s;
 }
 
 button:hover span {
  color: ghostwhite;
 }
 
 button::before,
 button::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
 }
 
 button::before {
  content: "";
  background: #333;
  width: 120%;
  left: -10%;
  transform: skew(30deg);
  transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
 }
 
 button:hover::before {
  transform: translate3d(100%, 0, 0);
 }
 

 .train {
  width: 50px;
  position: fixed;
  overflow: hidden;
  animation: moving 60s infinite linear;
}

@keyframes moving {
  0% {
    transform: translate(100vw, 0)
  }
  50% {
    transform: translate(50vw, 0)
  }
  100% {
    transform: translate(0vw, 0)
  }
}

#output_api {
  color: #04AA6D;
  font-weight: bold;
}