<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="PDF, PDF Editor, Editor, Merge, Decrypt, Encrypt, Free, Tool, Bread">
    <meta name="description" content="Edit your PDFs with Happy Bread PDF Editor!">
    <meta name="author" content="Mr Happy Bread">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <title>{{ title }}</title>
    {% block header %}{% endblock %}
</head>
<body>
    <!-- Navigation Bar -->
    <div class="navbar" data-role="navbar">
        <ul>
            <li> <div class="logo"> <a class="logo" href="{{ url_for('home') }}"><img src="{{ url_for('static', filename='logo.png') }}" width="50px"/></a>Happy Bread PDF Editor </div></li>
            <li style="float:right"><a href="{{ url_for('encrypt') }}">Encrypt</a></li>
            <li style="float:right"><a href="{{ url_for('decrypt') }}">Decrypt</a></li>
            <li style="float:right"><a href="{{ url_for('merge') }}">Merge</a></li>
            <li style="float:right"><a href="{{ url_for('split') }}">Split</a></li>
        </ul>
    </div>
    <div class="page">
        {% block content %}{% endblock %}
    </div>
    <div class="flash">
        {% with messages = get_flashed_messages() %}
          {% if messages %}
              {% for message in messages %}
                {{ message }}
              {% endfor %}
          {% endif %}
        {% endwith %}
      </div>
</body>
{% block footer %}
<div class="train">
    <img src="{{ url_for('static', filename='toasty-the-walking-toast.gif') }}" alt="Working"  height="40">
</div>
{% endblock %}
<div style="position: fixed; bottom: 6vh; right: 5vw;">
    <a href="{{ url_for('performance') }}">
        <button title="Server Performance" 
    class="btn btn-primary btn-circle btn-circle-lg effect1">
        <span>i</span>
    </button>
    </a>
</div>
</html>